*{
    padding:0;
    margin:0;
}
.menubar{
    width: 100%;
    background: #b3b3b3;
    overflow: auto;
}
.menubar ul{
    list-style-type: none;
    list-style: none;
    line-height: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.left{
    float: left;
}
.right{
    float: right;
}
.nav-item{
    width: 60px;
    display: block;
    color: white;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menubar ul li a{
    
}
.menubar ul li a:hover:not(.active) {
    background-color: #4CAF50;
}
.nav-user{
    display: block;
    color: white;
    height: fit-content;
}
.nav-logout{
    color: #4CAF50;
}
html, body {
    height:100%;
} 
body {
    /* Backgound image show full height (change based on screen ratio) */
    background: url("../img/login-bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}