/* .main-content {
    width: 900px;
    height: 800px;
    background: #FFFFFF;
    padding: 20% 0 0;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.24);
  } */

